DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_USER=admin
DATABASE_PASSWORD=admin
DATABASE_SCHEMA=public
DATABASE_NAME=talenti

AWS_ACCESS_KEY_ID=AKIA3TB6G3Y6PL766Q6B
AWS_SECRET_ACCESS_KEY=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
AWS_BUCKET_NAME=images-bucket-s3
AWS_REGION=us-east-2

ALGORITHM=RS256
TIME_TOKEN=420s
